pymupdf
camelot-py
pandas
opencv-python
google-generativeai
python-dotenv
PyMuPDF
Pillow
fastapi
uvicorn[standard]
pydantic
python-dotenv
chromadb
langchain
langchain-community
langchain-google-genai
python-multipart
Pillow